<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine_result.name %>
</p>

<%= link_to 'Edit', edit_machine_result_path(@machine_result) %> |
<%= link_to 'Back', machine_results_path %>
