<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine_info_type.name %>
</p>

<%= link_to 'Edit', edit_machine_info_type_path(@machine_info_type) %> |
<%= link_to 'Back', machine_info_types_path %>
