<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @machine_info.name %>
</p>

<%= link_to 'Edit', edit_machine_info_path(@machine_info) %> |
<%= link_to 'Back', machine_infos_path %>
